body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f0f0f0;
}

header {
  background-color: #101820;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 10px;
  color: #f2aa4c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: white;
}

main {
  padding: 20px;
  text-align: center;
}

.produits {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carte {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.carte:hover {
  transform: scale(1.05);
}
